<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">

    <div class="card p-4 login-form shadow">

        <img class="w-100" src="Logo-H-Mushuc-Runa.png" alt="Cooperativa Mushuc Runa">

        <h1 class="text-center mb-4 fw-bolder text-login">Login</h1>

        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="user" inputmode="numeric" type="text" required>
                <mat-error *ngIf="loginForm.get('user')?.hasError('required')">El usuario es requerido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100 mb-4">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                <button class="text-secondary mx-1 eye" mat-icon-button matSuffix (click)="hide=!hide">
                     @if (hide) {
                        <i class="fa-regular fa-eye"></i>
                     }@else{
                        <i class="fa-regular fa-eye-slash"></i>
                     }
                  </button>
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es requerida</mat-error>
            </mat-form-field>

            <button type="submit" class="btn btn-success w-100 fw-bolder">Iniciar Sesión</button>

        </form>

    </div>

</div>