<h5 class="w-100 text-center fw-bolder m-0 p-0">INGRESO Y MANTENIMIENTO DE DATOS BASICOS DE PERSONA NATURAL</h5>

<mat-divider class="my-2 bg-success"></mat-divider>
<h5 class="fw-bolder">Datos del Deudor</h5>
<mat-divider class="mt-2 mb-3 bg-success"></mat-divider>

<div class="container">

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tipo Persona</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tipo de Identificación</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Identificación</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Genéro</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nombres</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Apellidos</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Fecha Nacimiento</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>País (Nacimiento)</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Provincia (Nacimiento)</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Ciudad (Nacimiento)</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nacionalidad</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Estado Civil</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Edad</mat-label>
                <input matInput type="number" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nivel de Educación</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Profesión</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Situacion de la Vivienda</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Número de Cargas Familiares</mat-label>
                <input matInput type="number" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Número de Años (Vivienda Actual)</mat-label>
                <input matInput type="number" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3"></div>

        <div class="col-12 col-md-6 col-lg-3"></div>

    </div>

</div>

<mat-divider class="my-2 bg-success"></mat-divider>
<h5 class="fw-bolder">Datos del Cónyugue</h5>
<mat-divider class="mt-2 mb-3 bg-success"></mat-divider>

<div class="container">

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tipo de Identificación</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>País Nacimiento</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Identificación</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nacionalidad</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Primer Apellido</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Segundo Apellido</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Primer Nombre</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Segundo Nombre</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Edad</mat-label>
                <input matInput type="number" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3"></div>

        <div class="col-12 col-md-6 col-lg-3"></div>

    </div>

</div>

<mat-divider class="my-2 bg-success"></mat-divider>
<h5 class="fw-bolder">Información Laboral del Deudor</h5>
<mat-divider class="mt-2 mb-3 bg-success"></mat-divider>

<div class="container">

    <div class="row">
        <table class="table table-hover">
            <thead class="table-success">
                <tr>
                    <th>No.</th>
                    <th>Lugar de Trabajo</th>
                    <th>Cargo</th>
                    <th>Fecha Ingreso</th>
                    <th>Fecha Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5" class="text-center text-danger">No existen registros</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <table class="table table-hover">
            <thead class="table-success">
                <tr>
                    <th>No.</th>
                    <th>Nombre del Negocio</th>
                    <th>RUC</th>
                    <th>No Empleados</th>
                    <th>Fecha Inicio</th>
                    <th>Contabilidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6" class="text-center text-danger">No existen registros</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<mat-divider class="my-2 bg-success"></mat-divider>
<h5 class="fw-bolder">Información Laboral del Cónyuge</h5>
<mat-divider class="mt-2 mb-3 bg-success"></mat-divider>

<div class="container">

    <div class="row">
        <table class="table table-hover">
            <thead class="table-success">
                <tr>
                    <th>No.</th>
                    <th>Lugar de Trabajo</th>
                    <th>Cargo</th>
                    <th>Fecha Ingreso</th>
                    <th>Fecha Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5" class="text-center text-danger">No existen registros</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <table class="table table-hover">
            <thead class="table-success">
                <tr>
                    <th>No.</th>
                    <th>Nombre del Negocio</th>
                    <th>RUC</th>
                    <th>No Empleados</th>
                    <th>Fecha Inicio</th>
                    <th>Contabilidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6" class="text-center text-danger">No existen registros</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<mat-divider class="my-2 bg-success"></mat-divider>
<h5 class="fw-bolder">Direcciones del Deudor</h5>
<mat-divider class="mt-2 mb-3 bg-success"></mat-divider>

<div class="container">

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tipo</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>País</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Provincia</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Ciudad</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Principal</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Barrio</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Sec.</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Calle Principal</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Calle Secundaria</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Número Vivienda</mat-label>
                <input matInput type="number" required>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tipo</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>País</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Provincia</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Ciudad</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Principal</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Barrio</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Sec.</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Calle Principal</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Calle Secundaria</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Número Vivienda</mat-label>
                <input matInput type="number" required>
            </mat-form-field>
        </div>

    </div>

</div>

<mat-divider class="my-2 bg-success"></mat-divider>
<h5 class="fw-bolder">Teléfonos</h5>
<mat-divider class="mt-2 mb-3 bg-success"></mat-divider>

<div class="container">

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tipo</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Número</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Dirección Asociada</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

    </div>


    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tipo</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>País</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Provincia</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Ciudad</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Barrio</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Sec.</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Calle Principal</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Calle Secundaria</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Número Vivienda</mat-label>
                <input matInput type="number" required>
            </mat-form-field>
        </div>

    </div>

</div>

<mat-divider class="my-2 bg-success"></mat-divider>
<h5 class="fw-bolder">Detalles de Información Patrimoniales Inmuebles</h5>
<mat-divider class="mt-2 mb-3 bg-success"></mat-divider>

<div class="container">

    <div class="row">
        <table class="table table-hover">
            <thead class="table-success">
                <tr>
                    <th>Tipo</th>
                    <th>Inmueble</th>
                    <th>Dirección Asociada</th>
                    <th>Valor Comercial</th>
                    <th>Hipotecado A</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5" class="text-center text-danger">No existen registros</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<mat-divider class="my-2 bg-success"></mat-divider>
<h5 class="fw-bolder">Detalles Vehículos</h5>
<mat-divider class="mt-2 mb-3 bg-success"></mat-divider>

<div class="container">

    <div class="row">
        <table class="table table-hover">
            <thead class="table-success">
                <tr>
                    <th>N°</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Valor Comercial</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5" class="text-center text-danger">No existen registros</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<mat-divider class="my-2 bg-success"></mat-divider>
<h5 class="fw-bolder">Renta Fija</h5>
<mat-divider class="mt-2 mb-3 bg-success"></mat-divider>

<div class="container">

    <div class="row">
        <table class="table table-hover">
            <thead class="table-success">
                <tr>
                    <th>Institución</th>
                    <th>Tipo Inversión</th>
                    <th>Modelo</th>
                    <th>Monto</th>
                    <th>Fecha Apertura</th>
                    <th>Fecha Vencimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6" class="text-center text-danger">No existen registros</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>